* {
	box-sizing: border-box;

}

body{
	font-size: 0;
}

.align-children{
	font-size: 0;
}

.align-children > * {
	display: inline-block;
	font-size: medium;
	vertical-align: top;
}

#header{
	max-width: 100%;
}

#container{
	max-width: 80%;
	margin: 0 auto;
}

.searchContainer{
	max-width: 100%;
} 

img{
overflow: hidden;
}


p{ 
	font-size: 15px;
 }

 h1 {
 	font-size: 20px;
 }

 a{
 	font-size: 20px;
 	margin: 1%;
 	text-decoration: none;
 }

{/*=========== Header Bar ===============*/}

header{
	border: solid 3px orange;
	
}

.navBar{
	font-size: 20px;
	display: inline-block;
	vertical-align: top;
	width: 76%;

}


.logo{
	height: 20%;
	width: 20%; 
	
	/* margin-bottom: -2%; */
}

.searchContainer{
	border: solid 3px purple;
	font-size: 20px;
	padding: 1%;

}

.searchBox{
	/* height: 20px; */
	font-size: 1em;
	display: inline-block;
	text-align: center;
}

h1 {
	display: inline-block;
	padding-right: 5%;
}

.itemInfo{
	display: flex;

}

p.price{
	flex: 2;
}

p.shopName{
	flex:3;
}

.fa-shopping-cart {
	font-size: 30px;
}

{/*======== Mobile Styling @ 320p============*/}


{/*====== Mkt Listing ======*/}

.mktContainer {
	border: solid 2px blue;
	/* margin-top: 1%; */

}

.itemContainer{
	border: solid 3px purple;
	max-width: 100% ;
	padding: 1%;
}

.listingImg{
	/* width: 100%;
	height: 100% */;
	position: relative;
	max-width: 100%;

}

.mktImgContainer {
	/* max-width: 100%; */
	border: solid 3px pink;
	max-width: 100%;
}

{/*====== Item Listing ======*/}

.singleItemImg {
	max-width: 100%;
	overflow: hidden;
}


